/* CSS Document */


/* 导航栏 */
@font-face {
  font-family: nav;
  src: url(/font/新叶恋体-100font.com/新叶念体.otf);
}

a:link {
  background: lightgreen;
}

a:visited {
  background: lightgoldenrodyellow
}

a:hover {
  background-color: grey;
}

a:active {
  background: lightseagreen;
}

a {
  color: orange;
  text-decoration: none;
  display: block;
  box-shadow: none 10px grey;
  font-size: 35px;
  font-family: nav;
  width: 250px;
  border-bottom: 1pxsolid #000000;
}

.nav {
  margin-top: 13%;
}

/* 头像设置 */
.touxiang {
  margin-top: 2%;
}