/* CSS Document */
.title{
	color: #FFFFFF;
	text-align: center;
}

.button{
	padding-left: 10px;
}
.body{
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	background-size: 100%;
}
.margin{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	margin-top: 30px;
}