/* CSS Document */
.teachbutton{
	margin-left: 30px;
}
.footbuttom{
	margin-bottom: 20px;
	margin-right: 40px;
	margin-top: 20px;
}
.h2body{
	color: lightgoldenrodyellow;
	font-size: 20px;
	
	margin-bottom: 7px;
}
.buttonbuttom{
	margin-bottom: 7px;
}
